{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block page_title %}Aid Efficiently{% endblock page_title %} | {% block page_sub_title %}Sub Title{% endblock page_sub_title%}</title>
    <link type='text/css' rel='stylesheet' href='{% static "bootstrap/css/bootstrap.min.css" %}' />
    <link type='text/css' rel='stylesheet' href='{% static "bootstrap/css/bootstrap-theme.min.css" %}' />
    {% block extra_css %}
    <style type="text/css">
    .red { color: red; }
    .green { color: green; }
    </style>
    {% endblock extra_css %}

    <script type='text/javascript' src='{% static "js/jquery-1.10.2.min.js" %}'></script>
    <script type='text/javascript' src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

    {% block extra_js %}
      <script type='text/javascript'>
        $(function () {
          console.log($('body'));
        });
      </script>
    {% endblock extra_js %}
  </head>
  <body>
    <header>
      <nav class='navbar navbar-default'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 id='logo'>
            <a class="navbar-brand" href="{% url 'cause_index' %}">Aid Efficiently</a>
          </h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if request.user.is_authenticated %}
                Hi, {{ request.user }}!
                <a href="{% url 'accounts_logout' %}?next=/">Logout</a>
              {% else %}
                <a href="{% url 'accounts_login' %}">Login</a>
              {% endif %}
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </header>
    <section class='container'>
      {% block container %}
        Base.html
      {% endblock container %}
    </section>
  </body>
</html>