.item {
	font-size: 11px;
}

.progress {
	position: relative;
	width: 120px;
	border-style: dashed;
	border-width: 1px;
	border-color: rgb(132,158,98);
	background: rgba(132,158,98,0.3);
	text-align: center;
}

.progress .bar {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: rgb(132,158,98);
}